body,
		h1, h2, h3, h4, h5, h6, p {
			font-family: "Space Mono", monospace;
		}

p {
			font-family: "Space Mono", monospace;
			font-size: 0.3 em;
		}

table {
			width: 90%;
			margin-right: auto;
			margin-left: auto;
			border: 5px none;
			table-layout: fixed !important;

		}
.container {
  display: inline-block;
  margin: 3% 5% 0% 5%;
}
.close:before,.close:after{
    width: 43px;
  height: 7px;
  background-color: #fff;
  display: inline-block;
  transition: 0.4s;
border-radius: 100px;
content: '';
}

.close:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform: translate(21.5px,0) rotate(45deg);

}
.close:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform: translate(-21.5px,0) rotate(-45deg);
}
.open {
  width: 35px;
  height: 7px;
  background-color: #333;
  margin: 2px 0;
  transition: 0.4s;
border-radius: 100px;
}
td {
			padding: 1% 0.5%;
			margin: 0.5%;
			height: 100%;
			text-overflow: ellipsis;
			overflow-y: hidden;
			font-size: 1em;
			text-align: center;
		}
.button {
            border:none;
            display:inline-block;
            padding:8px 16px;
            vertical-align:middle;
            overflow:hidden;
            text-decoration:none;
            text-align:center;
            background-color: none;
            }

        
.iaminev {
            color:white;
            background-color:black;
        }

                    .iaminev:hover {
                background-color: #555555;
            }

.pfp {
			border-radius: 50%;
			width: 60%;
			transition: transform .2s;
		}

.static {
			overflow: initial;
			position: relative;
			text-align: center;
			color: white;
		}

		.static:hover .pfp {
			filter: brightness(50%);
			transform: scale(1.1);
		}

		.jobdesc {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: transform .2s;
			font-size: 0.65em;
		}

		.static:hover .jobdesc {
			opacity: 1;

			* {
				box-sizing: border-box;
			}
		}

		.container {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#displayed-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: url(#dissolve-filter);
			-webkit-filter: url(#dissolve-filter);
			transform: scale(1);
			opacity: 1;
			border-radius: 24px;
			/* GPU acceleration hint */
			will-change: transform, opacity;
		}

		#delete-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 12px 24px;
			font-size: 16px;
			cursor: pointer;
			background: #650000;
			color: #ff5c5c;
			border: none;
			border-radius: 25px;
			transition: transform 0.2s ease;
			z-index: 1;
		}

		#delete-image:hover {
			transform: translate(-50%, -50%) scale(1.2);
		}

		#delete-image:active {
			transform: translate(-50%, -50%) scale(0.9);
		}